@media only screen and (min-width:60em){

    body{
        margin: 0;       
    }
    
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    header img{
        width:10%;
    }

    header nav ul{
        display:flex;
        justify-content: end;
    }
    header nav ul li{
        padding-right: 5em;
        text-align: center;
        list-style: none;
        
    }
    header nav ul li a {
        text-decoration: none;
        color:#fff;
        transition: all 500ms ease-in-out;
        font-size: 1.2em;
    }
    #hamburger_btn{
        display:none;
    }
    


    .img_container{
        position: relative;
        left: 0;
        /* top:8px; */
        width:100%;
        height:120vh;
        animation: animate 100s ease-in-out infinite;
        background-size:cover;
        
        
    }
    
    .img_outer{
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height: 120vh;
        /* background: radial-gradient( rgba(0,0,0,0.3), rgba(255, 255, 255, 1)); */
        background: rgba(0,0,0,0.3);
    }

    @keyframes animate{
        0%, 100%{
        background-image: url("../images/home2_large.webp");
        
        }
        25%{
        background-image: url("../images/temple1_large.webp");
        
        }
        50%{
        background-image:url("../images/home1_large.webp");
        
        }
        75%{
        background-image:url("../images/home3_large.webp");
        
        }

    }

    .all_weather_container{
        color:white;
        margin-top:38%;
    }

    .reception_room_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}